html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: Roboto, sans-serif;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  background: url('../images/base-wallpaper.jpeg') no-repeat;
  background-size: cover;
}

.search {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.search-form {
    max-width: 575px;
    width: 100%;
    padding: 5px;
    display: flex;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.search-form:hover{
  box-shadow: 1px 1px 8px 1px #d5d;
}

.search-form:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}

.searchbar{
  height:45px;
  border:none;
  max-width:500px;
  width: 100%;
  font-size:16px;
  outline: none;
}

.search-button {
  width: 45px;
  height: 45px;
  padding: 5px;
  position:relative;
  top: 0;
  left: 10px;
  outline: none;
  border: none;
  background: transparent;
  border-radius: 50%;
}

.search-button:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.search-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* DIALS */

.dials-wrapper {
  padding: 100px;
  display: flex;
}

.dials {
  display: flex;
}

.dial, .add-dial {
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 50px;
}

.dial:hover {
  box-shadow: 1px 1px 8px 1px #e8e9;
}

.dial-img {
  width: 80%;
  pointer-events: none;
}

/* NEW DIAL FORM */
.new-dial-form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.active {
  display: flex;
}

.new-dial-form {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 1px rgb(118, 105, 232);
}

.input-wrapper {
  margin-bottom: 20px;
}

.field-error {
  border-color: red;
  color: red;
}

.url-format-error, .field-error-label {
  display: none;
  font-size: 16px;
  color: red;
}

.active-error {
  display: block;
}